 .mouse-scroll {
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 50px;
  border-radius: 20px;
  border: 4px solid #e16036;
top: 120px; 
     position: relative;
}
.mouse-scroll .mouse_scroll {
  animation-duration: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-name: scroll;
  display: block;
  font-style: normal;
  margin: 0 auto;
  width: 10px;
  height: 10px;
  border-right: 4px solid #e16036;;
  border-top: 4px solid #e16036;;    
  left: 0px;
  top: 5px;    
    position: relative;
}
@keyframes scroll {
  0% {
    opacity: 1;
    transform: rotate(135deg) translateY(0);     
  }
  100% {
    opacity: 0;
       transform:translateY(20px) rotate(135deg);
  }
}
   